# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Build artifacts
build/
dist/
wheelhouse/

# Virtualenvs
.venv/
venv/
env/

# Editors
.idea/
.vscode/
*.swp

# Sphinx documentation build artifacts
docs/build/
docs/source/generated/
